---
layout: mainless
scripts:
- slider.js
---

<div id="block-slider" class="block-slider slider" data-slider>
    <div class="slides">
        <div class="item" data-slide-id="1" id="slide-1">
            <img class="slide-image" src="{{ '/assets/img/background.png' | relative_url }}" alt="Fond" />
            <div class="slide-content slide-content-centered">
                <img class="d-block w-50 mx-auto" src="{{ '/assets/img/logo.png' | relative_url }}" alt="2GETHER" /><br>
                <h5>Ça y est ! 2GETHER est prêt à t'accueillir !</h5>
                <p>Rejoins-nous dès maintenant sur notre serveur Discord :</p>
                <a href="{{ site.discord.link }}" class="btn btn-dark">
                    Rejoindre 2GETHER <i class="fab fa-discord fa-fw"></i>
                </a>
            </div>
        </div>
    </div>

    <!--
    <div class="control">
        <a class="prev">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M9.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L7.414 9H15a1 1 0 110 2H7.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
            </svg>
        </a>
        <a id="dot-1" data-slide-set="1" class="dot"></a>
        <a class="next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
        </a>
    </div>
    -->
</div>

<main id="main">
    <div class="row text-center mx-0 col-12">
        <h2 class="mb-3">Dernières actualitées :</h2>
        <div class="posts text-center card-group">
            <div class="row mx-auto justify-content-center">
                {% for post in site.posts limit: 4 %}
                {% assign post_date = post.date | date: '%Y' %}
                {% assign specific_date = 'now' | date: '%Y' %}
                {% if specific_date == post_date %} <div class="card me-2 mb-2 px-0" style="width: 18rem;">
                    <img src="{{ post.image }}" class="card-img-top mx-0 px-0" alt="{{ post.title }}" width="mx-auto"
                        height="mx-auto">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p>
                            <small class="text-muted">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-clock" viewBox="0 0 16 16">
                                    <path
                                        d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                                </svg> {{ post.date | date: "%B %e, %Y" }}
                            </small>
                        </p>
                        <p class="card-text">
                            {{ post.excerpt }}
                        </p>
                    </div>
                    <a href="{{ post.url }}" class="btn btn-outline-primary">En savoir plus</a>
                </div>
                {% endif %}
                {% endfor %}
                <a href="/allposts.html" class="btn btn-primary justify-content-center">Voir tous les posts</a>
            </div>
        </div>
    </div>
</main>