// Header

#header {
	display: flex;
	padding: 0 10px;
	justify-content: space-between;
	align-items: center;
	text-align: center;

	a {
		color: #fff;
	}

	> .navbar {
		display: flex;
		padding: 10px 0;
		justify-content: center;
		align-items: center;
		flex-grow: 1;

		> .navbar-left, > .navbar-right {
			display: flex;
			margin: 0;
			padding: 0;
			justify-content: center;
			align-items: center;
			flex: 1 1 0;
			list-style: none;
			font-variant-caps: small-caps;

			@include media-breakpoint-down(md) {
				flex-basis: 100%;
			}

			li {
				margin: 0 5px;

				&.active > a {
					background-color: rgba($color: #fff, $alpha: .1);
				}

				> a {
					display: block;
					padding: 10px;
					border-radius: 9999px;

					&:hover {
						background-color: rgba($color: #fff, $alpha: .2);
					}
				}
			}
		}
		> .navbar-left {
			margin-right: 1rem;
			justify-content: right;

			@include media-breakpoint-down(md) {
				margin-bottom: 10px;
				margin-right: 0;
			}
		}
		> .navbar-right {
			margin-left: 1rem;
			justify-content: left;

			@include media-breakpoint-down(md) {
				margin-left: 0;
				justify-content: right;
			}
		}

		> .brand-title {
			display: block;
			flex: 0 1 0;
			flex-basis: auto;
			color: #fff;
			font-size: 2em;
			text-decoration: none;

			@include media-breakpoint-down(md) {
				position: absolute;
				left: 0;
			}

			img {
				height: 60px;
			}

			&.large-logo img  {
				@media (min-width: 768px) {
					height: 120px;
				}
			}
		}
	}

	> .account {
		flex-grow: 0;
	}

	.dropdown-menu a {
		color: inherit;
	}

	// .links-wrap a {
	// 	color: #fff;
	// }
}
