<footer id="footer" {% if include.transparent %}class="bg-transparent"{% endif %}>
	<div class="container-fluid mw-lg">
		<div class="d-flex">
			<div>
				<ul>
					<li>
						<i class="icon-left fas fa-copyright fa-fw"></i> 2020 – 2GETHER &nbsp;
						<a href="{{ site.github.repository_url }}#license">
							<img alt="CC BY-NC 4.0" src="https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-nc-sa.svg" />
						</a>
					</li>
				</ul>
			</div>
			<div class="text-right">
				<ul>
					<li><a href="{{ '/legal' | relative_url }}">Mentions légales</a></li>
					<!-- <li><a href="{{ site.github.repository_url }}">Dépot open-source</a> <i class="icon-right fab fa-github fa-fw"></i></li> -->
				</ul>
			</div>
		</div>
	</div>
</footer>
