---
layout: default
---

<div class="post">
    <p class="text-center pagetitle">{{ page.title }}</p>
    <img src="{{ '/assets/img/separator.png' | relative_url }}" class="img-fluid mb-3" alt="banner" />

    <div class="row flex-row-reverse">
        <div class="col-lg-3 mb-3">
            <div class="card border-info">
                <div class="card-header">Informations du post</div>
                <div class="card-body">
                    <ul class="post-metadata">
                        <li class="metadata date">
                            <i class="fas fa-calendar-day fa-fw"></i>
                            {{ page.date | date: "%B %e, %Y" }}
                        </li>
                        {% if page.last_updated %}
                            <li class="metadata last-updated">
                                <i class="fas fa-pencil-alt fa-fw"></i>
                                {{ page.last_updated | date: "%B %e, %Y" }}
                            </li>
                        {% endif %}
                        {% if page.categories != empty %}
                            <li class="metadata categories">
                                <i class="fas fa-quote-left fa-fw"></i>
                                <span>{{ page.categories | join: "</span> <span>" }}</span>
                            </li>
                        {% endif %}
                        {% if page.tags != empty %}
                            <li class="metadata tags">
                                <i class="fas fa-tag fa-fw"></i>
                                <span>{{ page.tags | join: "</span> <span>" }}</span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="content col-lg-9">
            {% if page.image %}
                <div class="card border-info mb-3">
                    <img src="{{ page.image | relative_url }}" class="img-fluid" alt="banner" />
                </div>
            {% endif %}
            {{ content }}
        </div>
    </div>
</div>